@import url("normalize.css");

body {
  min-height: 100vh;

  height: 100%;

  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.section-one {
  position: relative;
  height: 395px;
  width: 100%;
  margin-top: 40px;
  background-color: #ebc9bb;
}

.name {
  position: absolute;
  top: 50px;
  left: 600px;
  width: 150px;

  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
}

.photo {
  position: absolute;
  left: 50px;
  top: 25px;
  height: 300px;
  width: 300px;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

.specialization {
  position: absolute;
  top: 220px;
  left: 600px;

  font-size: 10;
  text-transform: uppercase;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  background-color: #F4DADA;    

}

.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: #000;
}


.flex {
  display: flex;
}

.main {
  height: 100%;
}

.section-left {
  width: 400px;
  background-color: #6b9999;
}

.heading-left {
  padding-left: 30px;
  padding-top: 40px;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.contact-skills {
  list-style: none;
  padding: 0 30px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}

.section-information {
  width: 900px;
  background-color: #ffffff;
}

.heading-information {
  padding-left: 60px;

  font-size: 35px;
  text-transform: uppercase;
  color: #6b9999;
}

.aboutme-p {
  font-size: 25px;
  color: #6b9999;
  padding-left: 60px;
}

.information-list {
  list-style: none;
  padding-left: 60px;

  font-size: 20px;
  line-height: 40px;
  color: #6b9999;
}

.link {
  text-decoration: none;
  color: #6b9999;
}

.code {
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
  width: 700px;
  background-color: #BFA8A8;  

}

.code-style {
 text-align: left;
 font-size: 20px;
 color: #ffffff;
}

.footer {
  width: 100%;
  height: 80px;
  
  background-color: #d1d1d1;
}

.logoRS {
  width: 80px;
  height: 40px;
  margin-top: 20px;
}

footer p {
  margin-top: 35px;
  font-size: 17px;
  font-weight: bolder;
  

}

.flex-footer {
  display: flex;
  justify-content: space-around;
}

.link-footer {
  text-decoration: none;
  color: #000;
}